.groups{
  position:fixed;
  top:350px;
  right: 50px;
}
h3#group{
  position:fixed;
  top:250px;
  right: 350px;
  border-bottom: solid;
  border-width: thin;
}

.groupFollow{
  border-width: medium;
  border-style: solid;
  border-color: blue;
}
