.groups{
  position:fixed;
  top:350px;
  right: 50px;
}
h3#group{
  position:fixed;
  top:250px;
  right: 350px;
  border-bottom: solid;
  border-width: thin;
}

.groupFollow{
<<<<<<< HEAD
  border-width: medium;
  border-style: solid;
  border-color: blue;
=======
  margin-top: 50px;
  margin-left: 10px;
  padding: 10px;
  border-width: medium;
  border-style: solid;
  border-color: #4682B4;
}

.groupInfo{

>>>>>>> 3e6c268de02ac23b49e26c14fe1b8b1c6b1a9361
}
